{% extends "base.html" %}
{% load course %}

{% block title %} Module {{ module.order|add:1 }}: {{ module.title }} {% endblock %}

{% block content %}
{% with course=module.course %}
    <h1>Course "{{ course.title }}"</h1>
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules" class="module-list">
            {% for mod in course.modules.all %}
                <li data-id="{{ mod.id }}" {% if mod.id == module.id %}class="selected"{% endif %}>
                    <a href="{% url "module_content_list" mod.id %}">
                        <span>
                            Module <span class="order">{{ mod.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ mod.title }}
                    </a>
                </li>
            {% empty %}
                <li class="empty">No modules available.</li>
            {% endfor %}
        </ul>
        <p class="top-gap"><a href="{% url "course_module_update" course.id %}" class="button sm">Edit modules</a></p>
    </div>
    <div class="module">
        <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
        <h3>Module contents:</h3>
        <div id="module-contents" class="content-list">
            {% for content in module_contents %}
                <div data-id="{{ content.id }}" class="content-item">
                    {% with item=content.prefetched_item %}
                        <p>{{ item }} ({{ item|model_name }})</p>
                        <div class="actions">
                            <a href="{% url "content_update" module.id item|model_name item.id %}" class="button sm">Edit</a>
                            <form action="{% url "module_content_delete" content.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="button sm danger">
                            </form>
                        </div>
                    {% endwith %}
                </div>
            {% empty %}
                <div class="empty">No contents in this module.</div>
            {% endfor %}
        </div>
        <h3>Add new content</h3>
        <ul class="content-types">
            <li><a href="{% url "content_create" module.id "text" %}" class="chip">Text</a></li>
            <li><a href="{% url "content_create" module.id "video" %}" class="chip">Video</a></li>
            <li><a href="{% url "content_create" module.id "image" %}" class="chip">Image</a></li>
            <li><a href="{% url "content_create" module.id "file" %}" class="chip">File</a></li>
        </ul>
    </div>
{% endwith %}
{% endblock %}

{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
{% endblock %}

{% block domready %}
    var options = {
        method: 'POST',
        mode: 'same-origin',
        headers: {'Content-Type': 'application/json'}
    };
    const moduleOrderUrl = "{% url "module_order" module.id %}";

    sortable('#modules', {
        forcePlaceholderSize: true,
        placeholderClass: 'placeholder'
    })[0].addEventListener('sortupdate', (e) => {
        const modulesOrder = {};
        var modules = document.querySelectorAll('#modules li[data-id]');
        modules.forEach((module, index) => {
            modulesOrder[module.dataset.id] = index;
            module.querySelector('.order').innerHTML = index + 1;
        });
        options.body = JSON.stringify(modulesOrder);
        fetch(moduleOrderUrl, options);
    });
        
    const contentOrderUrl = "{% url "content_order" module.id %}";
    sortable('#module-contents', {
        forcePlaceholderSize: true,
        placeholderClass: 'placeholder'
    })[0].addEventListener('sortupdate', (e) => {
        const contentsOrder = {};
        var contents = document.querySelectorAll('#module-contents [data-id]');
        contents.forEach((content, index) => {
            contentsOrder[content.dataset.id] = index;
        });
        options.body = JSON.stringify(contentsOrder);
        fetch(contentOrderUrl, options);
    });
{% endblock %}
